<div class="container">
	<div class="d-flex align-items-center py-4 flex-shrink-1">
		<main class="form-signin w-50 m-auto">
			<form>
				<img class="mb-4 logo" [src]="StoreLogo" alt="">
				<h1 class="h3 mb-3 fw-normal">Register</h1>

				<div class="row p-0 mb-2">
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingInputfn" placeholder="">
							<label for="floatingInputfn">First Name</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingInputln" placeholder="">
							<label for="floatingInputln">Last Name</label>
						</div>
					</div>
				</div>

				<div class="form-floating mb-2">
					<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
					<label for="floatingInput">Email address</label>
				</div>
				<div class="form-floating mb-2">
					<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
					<label for="floatingPassword">Password</label>
				</div>
				<button class="btn btn-primary w-100 py-2" type="submit">Register</button>
			</form>
		</main>
	</div>
</div>