<div class="container">
	<div class="d-flex align-items-center py-4 flex-shrink-1">
		<main class="form-signin w-50 m-auto">
			<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
				<img class="mb-4 logo" [src]="StoreLogo" alt="">
				<h1 class="h3 mb-3 fw-normal">Register</h1>

				<div class="alert alert-danger" role="alert" *ngIf="error">
					{{error}}
				</div>

				<div class="alert alert-success" role="alert" *ngIf="success">
					{{success}}
				</div>

				<div class="row p-0 mb-2">
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" class="form-control" placeholder="" id="floatingInputfn"
								formControlName="firstName"
								[ngClass]="{'is-invalid': !registerForm.controls['firstName'].valid && (registerForm.controls['firstName'].dirty|| registerForm.controls['firstName'].touched)}">
							<label for="floatingInputfn">First Name</label>
							<div class="invalid-feedback">
								Please provide a valid first name.
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" class="form-control" placeholder="" id="floatingInputln"
								formControlName="lastName"
								[ngClass]="{'is-invalid': !registerForm.controls['lastName'].valid && (registerForm.controls['lastName'].dirty|| registerForm.controls['lastName'].touched)}">
							<label for="floatingInputln">Last Name</label>
							<div class="invalid-feedback">
								Please provide a valid last name.
							</div>
						</div>
					</div>
				</div>

				<div class="form-floating mb-2">
					<select class="form-select" id="gender" aria-label="Select gender" formControlName="gender"
						[ngClass]="{'is-invalid': !registerForm.controls['gender'].valid && (registerForm.controls['gender'].dirty|| registerForm.controls['gender'].touched)}">
						<option *ngFor="let g of gender" [ngValue]="g">{{ g }}</option>
					</select>
					<label for="gender">Gender</label>
					<div class="invalid-feedback">
						Please select gender.
					</div>
				</div>

				<div class="form-floating mb-2">
					<input type="test" class="form-control" placeholder="" id="username" formControlName="username"
						[ngClass]="{'is-invalid': !registerForm.controls['username'].valid && (registerForm.controls['username'].dirty|| registerForm.controls['username'].touched)}">
					<label for="username">Username</label>
					<div class="invalid-feedback">
						Please provide a valid username.
					</div>
				</div>

				<div class="form-floating mb-2">
					<input type="email" class="form-control" placeholder="" id="email" formControlName="email"
						[ngClass]="{'is-invalid': !registerForm.controls['email'].valid && (registerForm.controls['email'].dirty|| registerForm.controls['email'].touched)}">
					<label for="email">Email address</label>
					<div class="invalid-feedback">
						Please provide a valid email.
					</div>
				</div>

				<div class="form-floating mb-2">
					<input type="password" class="form-control" placeholder="" id="floatingPassword"
						placeholder="Password" formControlName="password"
						[ngClass]="{'is-invalid': !registerForm.controls['password'].valid && (registerForm.controls['password'].dirty|| registerForm.controls['password'].touched)}">
					<label for="floatingPassword">Password</label>
					<div class="invalid-feedback">
						<span *ngIf="registerForm.controls['password'].hasError('required')">
							Please provide a valid Password.
						</span>
						<span *ngIf="registerForm.controls['password'].hasError('minlength')">
							Password must be more than 8 Characters.
						</span>
					</div>
				</div>

				<div class="mb-2">
					Addres<button type="button" (click)="addAddress()">Add</button>
					<div formArrayName="address">
						<div *ngFor="let address of getAddress.controls; let index=index">
							<div [formGroupName]="index">
								{{index}}
								<input type="text" formControlName="address" placeholder="address">
								<input type="text" formControlName="phone" placeholder="phone">

								<button (click)="removeAddress(index)">Remove</button>
							</div>
						</div>
					</div>
				</div>

				<button class="btn btn-primary w-100 py-2" type="submit"
					[disabled]="!registerForm.valid">Register</button>
			</form>
		</main>
	</div>
</div>