<div class="container">
	<div class="navbar navbar-expand-lg justify-content-between">
		<div class="col">
			<h4>Category: <span class="badge bg-dark">{{selectedName}}</span></h4>
		</div>
		<div class="position-relative d-flex align-items-center gap-2">
			<h4>Select Category</h4>
			<div>
				<select class="form-select" name="Categories" title="Categories" [(ngModel)]="selected"
					(ngModelChange)="onSelectChange()">
					<option class="dropdown-item" *ngFor="let item of Categories" [value]="item.id">
						{{item.name}}
					</option>
				</select>
			</div>
		</div>
	</div>
</div>

<section class="container">
	<app-product [Products]="Products"></app-product>
</section>